.container{
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
    position: relative;
    width: 500px;
    gap: 10px;
    height: 100px;
}

.item{
    height: 100px;
    width: 300px;
    background-color:rgb(231, 157, 157);
    border: 1px solid black;
    display: inline-block;
}

#item-2{
    position: sticky;
    top: 50px;
    right: 0;
    z-index: -1;
}

#A{
    display: inline-block;
    width: 200px;
    height: 100px;
    background-color: aquamarine;
}

#B{
    display: inline-block;
    width: 400px;
    height: 100px;
    background-color: cadetblue;
}