@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

body {
  padding: 15px 50px;
  font-family: "Poppins", sans-serif;
  background-color: black;
}

.hero-p {
  background-image: url("./img/porto-ill.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding: 50px;
  border-radius: 15px;
  opacity: 40%;
  margin-bottom: 50px;
}
.hero-p h1 {
  font-size: 34px;
}
.hero-p p {
  font-size: 18px;
}

.proj {
  display: block;
  align-items: center;
}
.card-pro {
  box-shadow: 0 4px 0 rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  height: fit-content;
  width: 650px;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin-left: 17%;
  padding: 25px 10px 25px 10px;
  align-items: center;
  margin-bottom: 30px;
}

.img-port {
  align-items: center;
  margin: 15px;
  border-radius: 15px;
  width: fit-content;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  position: relative;
  left: 35%;
  right: auto;
}
.txt-proj {
  text-align: justify;
}
